<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>WittyHome | Group</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="../static/css/custom.css"
	th:href="@{/css/custom.css}">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="./index.html" th:href="@{/index}">WittyHome</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active dropdown">
					<div class="btn-group">
						<a class="btn btn-link nav-link" href="./scenario.html"
							th:href="@{/scenario}">Сценарии</a> <a th:if="${session.admin}"
							class="btn btn-link nav-link dropdown-toggle dropdown-toggle-split"
							href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> <span
							class="sr-only">Scenario</span>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="./addScenario.html"
								th:href="@{/addScenario}">Добавить сценарий</a>
						</div>
						<a class="btn btn-link nav-link active" href="#">Группы</a> <a
							class="btn btn-link nav-link" th:if="${session.superadmin}"
							href="./user.html" th:href="@{/user}">User</a>
					</div>
				</li>
			</ul>
			<a class="icon nav-link p-2"
				href="https://github.com/RomanNosachev/WittyServer" target="_blank"
				rel="noopener" aria-label="Git"> <img
				src="../static/img/github-white.svg"
				th:src="@{/img/github-white.svg}" alt="Git">
			</a>

			<div class="user btn-group form-inline my-2 my-lg-0"
				th:if="${session.username} and ${session.username} != 'anonymousUser'">
				<input class="form-control" type="text"
					th:value="${session.username}" readonly> <a
					class="btn btn-primary" href="./logout.html" th:href="@{/logout}"
					role="button">Выход</a>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-4" th:each="group: ${groups}">
				<div class="card mb-4 box-shadow">
					<div class="card-header" th:text="${group.id}"></div>
					<div class="card-body">
						<h5 class="card-subtitle mb-2 text-muted">Сценариев всего:</h5>
						<p class="card-text" th:text="${group.total}"></p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a class="viewGroup-button btn btn-sm btn-outline-secondary"
									th:href="@{/group/{id}(id=${group.id})}">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		src="../static/js/jquery-3.5.1.slim.min.js"
		th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
	<script type="text/javascript" src="../static/js/popper.min.js]"
		th:src="@{/js/popper.min.js}"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>