<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>WittyHome</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="../static/css/custom.css"
	th:href="@{/css/custom.css}">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">WittyHome</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active dropdown">
					<div class="btn-group">
						<a class="btn btn-link nav-link" href="./scenario.html"
							th:href="@{/scenario}">Сценарии</a> <a th:if="${session.admin}"
							class="btn btn-link nav-link dropdown-toggle dropdown-toggle-split"
							href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> <span
							class="sr-only">Scenario</span>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="./addScenario.html"
								th:href="@{/addScenario}">
								<svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								  <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
								  <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
								</svg>
							Добавить сценарий</a>
						</div>
						<a class="btn btn-link nav-link" href="./group.html"
							th:href="@{/group}">Группы</a> <a class="btn btn-link nav-link"
							th:if="${session.superadmin}" href="./user.html"
							th:href="@{/user}">Пользователи</a>
					</div>
				</li>
			</ul>
			<a class="icon nav-link p-2"
				href="https://github.com/RomanNosachev/WittyServer" target="_blank"
				rel="noopener" aria-label="Git"> <img
				src="../static/img/github-white.svg"
				th:src="@{/img/github-white.svg}" alt="Git">
			</a>

			<div class="user btn-group form-inline my-2 my-lg-0"
				th:if="${session.username} and ${session.username} != 'anonymousUser'">
				<input class="form-control" type="text"
					th:value="${session.username}" readonly> 
					<a class="btn btn-primary" href="./logout.html" th:href="@{/logout}"
					role="button">
						<svg class="bi bi-box-arrow-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						  <path fill-rule="evenodd" d="M11.646 11.354a.5.5 0 0 1 0-.708L14.293 8l-2.647-2.646a.5.5 0 0 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
						  <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
						  <path fill-rule="evenodd" d="M2 13.5A1.5 1.5 0 0 1 .5 12V4A1.5 1.5 0 0 1 2 2.5h7A1.5 1.5 0 0 1 10.5 4v1.5a.5.5 0 0 1-1 0V4a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-1.5a.5.5 0 0 1 1 0V12A1.5 1.5 0 0 1 9 13.5H2z"/>
						</svg>
					Выход</a>
			</div>
			<div class="user btn-group form-inline my-2 my-lg-0"
				th:unless="${session.username} and ${session.username} != 'anonymousUser'">
				<a type="button" class="btn btn-primary" href="./login.html"
					th:href="@{/login}">
					<svg class="bi bi-box-arrow-in-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					  <path fill-rule="evenodd" d="M8.146 11.354a.5.5 0 0 1 0-.708L10.793 8 8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
					  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 1 8z"/>
					  <path fill-rule="evenodd" d="M13.5 14.5A1.5 1.5 0 0 0 15 13V3a1.5 1.5 0 0 0-1.5-1.5h-8A1.5 1.5 0 0 0 4 3v1.5a.5.5 0 0 0 1 0V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5h-8A.5.5 0 0 1 5 13v-1.5a.5.5 0 0 0-1 0V13a1.5 1.5 0 0 0 1.5 1.5h8z"/>
					</svg>
				Войти</a>
				<button type="button"
					class="btn btn-primary dropdown-toggle dropdown-toggle-split"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="./registration.html"
						th:href="@{/registration}">
						<svg class="bi bi-file-earmark-text" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						  <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/>
						  <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/>
						  <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
						</svg>
					Зарегистрироваться</a>
				</div>
			</div>
		</div>
	</nav>

	<div class="container lastRequest-div">
		<h2>Последние запросы:</h2>
		<div class="row">
			<div class="col-md-4" th:each="request: ${requests}">
				<div class="card mb-4 box-shadow">
					<div class="card-header" th:text="${request.id}"></div>
					<div class="card-body">
						<h5 class="card-subtitle mb-2 text-muted"
							th:text="${request.class.simpleName}"></h5>
						<p class="card-text" th:text="${request}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container globalAtributes-div">
		<h2>Глобальные атрибуты:</h2>
		<div class="row">
			<div class="col-md-4" th:each="attribute: ${attributes}">
				<div class="card mb-4 box-shadow">
					<div class="card-header" th:text="${attribute.key}"></div>
					<div class="card-body attribute-body">
						<p class="card-text" th:text="${attribute.value}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript"
		src="../static/js/jquery-3.5.1.slim.min.js"
		th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
	<script type="text/javascript" src="../static/js/popper.min.js]"
		th:src="@{/js/popper.min.js}"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>