<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>WittyHome | Пользователь</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="../static/css/custom.css"
	th:href="@{/css/custom.css}">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="./index.html" th:href="@{/index}">WittyHome</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active dropdown">
					<div class="btn-group">
						<a class="btn btn-link nav-link" href="./scenario.html"
							th:href="@{/scenario}">Сценарий</a> <a th:if="${session.admin}"
							class="btn btn-link nav-link dropdown-toggle dropdown-toggle-split"
							href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> <span
							class="sr-only">Scenario</span>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="./addScenario.html"
								th:href="@{/addScenario}">
								<svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								  <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
								  <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
								</svg>
							Добавить сценарий</a>
						</div>
						<a class="btn btn-link nav-link" href="./group.html"
							th:href="@{/group}">Группы</a> <a
							class="btn btn-link nav-link active" href="#">Пользователи</a>
					</div>
				</li>
			</ul>
			<a class="icon nav-link p-2"
				href="https://github.com/RomanNosachev/WittyServer" target="_blank"
				rel="noopener" aria-label="Git"> <img
				src="../static/img/github-white.svg"
				th:src="@{/img/github-white.svg}" alt="Git">
			</a>

			<div class="user btn-group form-inline my-2 my-lg-0"
				th:if="${session.username} and ${session.username} != 'anonymousUser'">
				<input class="form-control" type="text"
					th:value="${session.username}" readonly> 
					<a class="btn btn-primary" href="./logout.html" th:href="@{/logout}"
					role="button">
						<svg class="bi bi-box-arrow-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						  <path fill-rule="evenodd" d="M11.646 11.354a.5.5 0 0 1 0-.708L14.293 8l-2.647-2.646a.5.5 0 0 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
						  <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
						  <path fill-rule="evenodd" d="M2 13.5A1.5 1.5 0 0 1 .5 12V4A1.5 1.5 0 0 1 2 2.5h7A1.5 1.5 0 0 1 10.5 4v1.5a.5.5 0 0 1-1 0V4a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-1.5a.5.5 0 0 1 1 0V12A1.5 1.5 0 0 1 9 13.5H2z"/>
						</svg>
					Выйти</a>
			</div>
		</div>
	</nav>

	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th class="username-th">Пользователь</th>
					<th class="save-th">Роль</th>
				</tr>
			</thead>
		</table>
	</div>

	<div class="container">
		<div class="" th:each="user: ${users}">
			<form class="row" th:id="${user.id}" th:action="@{/editUser}"
				th:object="${userForm}" method="post">
				<div class="col-sm">
					<input type="hidden" name="user.id" th:value="${user.id}"
						th:form="${user.id}"></input> <input type="text"
						name="user.username" class="username-input" th:form="${user.id}"
						th:value="${user.username}" readonly></input>
				</div>
				<div class="col-sm">
					<select th:form="${user.id}" name="roleName"
						th:with="roles = ${user.roleNames}">
						<option value="ROLE_USER">User</option>

						<option value="ROLE_ADMIN"
							th:selected="${#lists.contains(roles, 'ROLE_ADMIN')}">Admin</option>
						<option value="ROLE_SUPERADMIN"
							th:selected="${#lists.contains(roles, 'ROLE_SUPERADMIN')}">Superadmin</option>
					</select>
					<button th:form="${user.id}" type="submit"
						class="btn btn-primary user-button">
						<svg class="bi bi-person-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						  <path fill-rule="evenodd" d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM6 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm6.854.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
						</svg>
					Сохранить</button>
				</div>
			</form>
		</div>
	</div>

	<script type="text/javascript"
		src="../static/js/jquery-3.5.1.slim.min.js"
		th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
	<script type="text/javascript" src="../static/js/popper.min.js]"
		th:src="@{/js/popper.min.js}"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>