<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>WittyHome | Group</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/css/custom.css" th:href="@{/css/custom.css}">
</head>

<body>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="./index.html" th:href="@{/index}">WittyHome</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active dropdown">
					<div class="btn-group">
						<a class="btn btn-link nav-link" href="./scenario.html" th:href="@{/scenario}">Scenario</a>
						<a class="btn btn-link nav-link dropdown-toggle dropdown-toggle-split" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
							<span class="sr-only">Scenario</span>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="./addScenario.html" th:href="@{/addScenario}">Add scenario</a> 
						</div>
						<a class="btn btn-link nav-link" href="./group.html" th:href="@{/group}">Group</a>
					</div>
				</li>
			</ul>				
			<a class="icon nav-link p-2" href="https://github.com/RomanNosachev/WittyServer" target="_blank" rel="noopener" aria-label="Git">
				<img src="../static/img/github-white.svg" th:src="@{/img/github-white.svg}" alt="Git">
			</a>
    
			<div class="user btn-group form-inline my-2 my-lg-0" th:if="${session.username} and ${session.username} != 'anonymousUser'"> 
				<input class="form-control" type="text" th:value="${session.username}" readonly>
				<a class="btn btn-primary" href="./logout.html" th:href="@{/logout}" role="button">Logout</a>
			</div>
		</div>
	</nav>

	<div class="d-flex justify-content-between align-items-center">
		<div class="btn-group">	
			<form th:action="@{/disableGroup}" method="post">
				<input type="hidden" name="group" th:value="${group}"></input> 
				<button class="disableGroup-button btn btn-sm btn-outline-secondary">Disable all</button>
			</form>  
			<form th:action="@{/enableGroup}" method="post">
				<input type="hidden" name="group" th:value="${group}"></input> 
				<button class="enableGroup-button btn btn-sm btn-outline-secondary">Enable all</button>
			</form>				 
			<form th:action="@{/deleteGroup}" method="post">
				<input type="hidden" name="group" th:value="${group}"></input> 
				<button class="deleteGroup-button btn btn-sm btn-outline-secondary">Delete group</button>
			</form>
		</div>
	</div>				

	<div class="container">
			<div class="row">
				<div class="col-md-4" th:each="scenario: ${scenarios}">
				  <div class="card mb-4 box-shadow">
					<div class="card-header" th:text="${scenario.id}" 
					th:classappend="${scenario.enabled} ? enabled : disabled"></div>
					<div class="card-body">
					  <h5 class="card-subtitle mb-2 text-muted" th:text="${scenario.task.request.class.simpleName}"></h5>
					  <p class="card-text" th:text="${scenario.task.request}"></p>
					  <pre th:if="${scenario.rule}" th:text="${scenario.rule}">
					  </pre>
					  <h5 class="card-subtitle mb-2 text-muted" th:text="${scenario.task.action.class.simpleName}"></h5>
					  <p class="card-text" th:text="${scenario.task.action}"></p>
					  <div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
						  <a class="editScenario-button btn btn-sm btn-outline-secondary"
						  th:href="@{/editScenario/{id}(id=${scenario.id})}">Edit</a>					
						  <form th:if="${scenario.enabled}" th:action="@{/disableScenario}" method="post">
							<input type="hidden" name="id" th:value="${scenario.id}"></input> 
							<button class="disableScenario-button btn btn-sm btn-outline-secondary">Disable</button>
						  </form>  
						  <form th:unless="${scenario.enabled}" th:action="@{/enableScenario}" method="post">
							<input type="hidden" name="id" th:value="${scenario.id}"></input> 
							<button class="enableScenario-button btn btn-sm btn-outline-secondary">Enable</button>
						  </form>				 
						 <form th:action="@{/deleteScenario}" method="post">
							<input type="hidden" name="id" th:value="${scenario.id}"></input> 
							<button class="deleteScenario-button btn btn-sm btn-outline-secondary">Delete</button>
						 </form>
						 <form th:action="@{/leaveGroup}" method="post">
						 	<input type="hidden" name="group" th:value="${group}"></input> 
							<input type="hidden" name="id" th:value="${scenario.id}"></input> 
							<button class="leaveScenario-button btn btn-sm btn-outline-secondary">Leave</button>
						 </form>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			</div>
		</div>
	
	<script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>

</html>