<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>WittyServer</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
	<div id="colorFormDiv">
      <form th:action="@{/}" id="colorForm" method="post" th:object="${lightConfig}">
        <input id="colorBox" type="color" value="color" th:field="*{colorString}" name="color">
        <input id="colorSubmit" type="submit">
      </form>
    </div>
    <div id="effectFormDiv">
      <table id="effectFormDiv">
        <tr>
          <form th:action="@{/}" id="effectForm" method="post" th:object="${lightConfig}">
          	<td>
	          	<ul>
	          		<li><p><input name="effect" type="radio" value="rainbowCycle" th:field="*{effectString}" checked></p>Rainbow</li>
	          		<li><p><input name="effect" type="radio" value="police" th:field="*{effectString}">Police</p></li>
	          	</ul>
	        </td>
            <td><button class="effectSubmit" type="submit">Start</button></td>
          </form> 
        </tr>
      </table>
    </div>
</body>
</html>