.card-body pre {
	background-color: #f7f8fa;
	border: 1px solid #e4e6eb;
	border-radius: 5px;
}

.lastRequest-div {
	height: 40%;
	padding: 1em;
}

.groupButton-div {
	width: 50%;
	margin: auto;
	padding: 1em;
}

.card-header.enabled {
	background-color: #adffba;
}

.table-responsive {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.username-input {
	border: 0px;
	width: 100%;
}

.attribute-body {
	font-size: xx-large;
}

.globalAttributes-div {
	height: 40%;
	padding: 1em;
}

#accordion {
	background: #F9F9F9; 
	border: 1px solid #E1E1E8; 
	border-top: 0px;
	width: 100%;
	margin: auto; 
	padding: 8px;
	text-align: center;
}

.center-form {
	color: #fff;
	max-width: 530px;	
	margin: auto;
	background-color: #343a40;
	text-align: center;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

*[role="form"] .footer {
    margin: auto;
    text-align: center;
}

.addScenario-div {
	width: 80%;
	margin: auto;
	padding-top: 1em;
}

.addScenario-div .alert {
	text-align: center;
}

.editScenario-div {
	width: 80%;
	margin: auto;
	padding-top: 1em;
}

.editScenario-div .alert {
	text-align: center;
}

.panel-title a {
	color: #8f8f8f;
}

.tab-content {
	width: 100%;
	margin: auto;
}

.nav-tabs {
	width: 80%;
	margin: auto;
	padding-top: 1em;
}

.table caption {
	caption-side: top;
}

.table {
	word-break: break-all;
}

.container {
	margin-top: 1%;
}

.icon {
	width: 50px;
	height: 50px;
}

.table tr td {
	min-width: 20%;
}

.requestClassName {
	display: none;
}

.actionClassName {
	display: none;
}

.request-div {
	display: none;
}

.action-div {
	display: none;
}

.table .th-1 {
	text-align: center;
	border: 1px solid #c9c7c7;
}
