body {
	background-color: #f9f9fa;
}

.card-body pre {
	background-color: #f7f8fa;
	border: 1px solid #e4e6eb;
	border-radius: 5px;
}

.lastRequest-div {
	height: 40%;
	padding: 1em;
}

.page-link {
	height: 2.6em;
}

.filter-input {
	background-color: white;
}

.card-button {
	width: 2.6em;
	height: 2.6em;
	text-align: center;
}

.editScenario-button svg {
	color: #6c757d;
}

.editScenario-button:hover svg {
	color: white;
}

.viewGroup-button svg {
	color: #6c757d;
}

.viewGroup-button:hover svg {
	color: white;
}

.card-button svg {
	width: 1.5em;
	height: 1.5em;
}

.disableScenario-button {
	width: 3.1em;
}

.disableScenario-button svg {
	width: 2em;
	height: 2em;
}

.enableScenario-button {
	width: 3.1em;
}

.enableScenario-button svg {
	width: 2em;
	height: 2em;
}

.form-check-label {
	margin-bottom: 0.5em;
}

.edit-button {
	margin-top: 0.5em;
}

.form-check {
	margin-top: 1em;
}

.simpleFilter-div form input {
	width: 10em;
}

.typeFilter-div {
	width: 10em;
	padding: 0px;
	margin: 0px;
}

.typeFilter-div input {
	width: 10em;
}

.typeFilter-div select {
	width: 10.5em;
	height: 2em;
	padding-top: 2px;
}

.enabled-div {
	margin-top: 1.5em;
}

.enabled-input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}

.enabled-input + label {
	position: relative;
	padding: 0 0 0 30px;
	cursor: pointer;
}

.enabled-input + label:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #CDD1DA;
	border-radius: 50%;
	background: #FFF;
}

.enabled-input + label:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 3px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #6c757d;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: .2s;
}

.enabled-input:checked + label:after {
	opacity: 1;
}

.enabled-input:focus + label:before {
	box-shadow: 0 0 0 1px rgba(0,0,0,.7);
}

.addGroup-input {
	margin-bottom: 0.5em;
}

.save-button {
	margin-top: 0.5em;
}

.group-div {
	padding: 1em;
}

.group-button {
}

.card-header.enabled {
	background-color: #98ff98;
}

.card-header {
	 background-color: rgba(0,0,0,.07);
}

.table-responsive {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.username-input {
	border: 0px;
	width: 100%;
}

.attribute-body {
	font-size: xx-large;
}

.globalAttributes-div {
	height: 40%;
	padding: 1em;
}

.groupButton-div {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	display: block;
	padding: 0.5em;
	background: rgba(0,0,0,.1);
	color: #6c757d;
	border: 1px solid rgba(0,0,0,.2); 
}

.groupButton-div button {
	background: white;
}

.panel-title a {
	color: #6c757d;
}


#accordion button {
	backfround: white;
}

#accordion {
	background: rgba(0,0,0,.1);
	border: 1px solid rgba(0,0,0,.2); 
	border-top: 0px;
	width: 100%;
	margin: auto; 
	padding: 8px;
	text-align: center;
}

.center-form {
	color: #fff;
	max-width: 530px;	
	margin: auto;
	background-color: #343a40;
	text-align: center;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

*[role="form"] .footer {
    margin: auto;
    text-align: center;
}

.addScenario-div {
	width: 80%;
	margin: auto;
	padding-top: 1em;
}

.addScenario-div .alert {
	text-align: center;
}

.editScenario-div {
	width: 80%;
	margin: auto;
	padding-top: 1em;
}

.editScenario-div .alert {
	text-align: center;
}

.tab-content {
	width: 100%;
	margin: auto;
}

.nav-tabs {
	width: 80%;
	margin: auto;
	padding-top: 1em;
}

.table caption {
	caption-side: top;
}

.table {
	word-break: break-all;
}

.container {
	margin-top: 1%;
}

.icon {
	width: 50px;
	height: 50px;
}

.table tr td {
	min-width: 20%;
}

.requestClassName {
	display: none;
}

.actionClassName {
	display: none;
}

.request-div {
	display: none;
}

.action-div {
	display: none;
}

.table .th-1 {
	text-align: center;
	border: 1px solid #c9c7c7;
}
